body {
  margin: 0;
  font-family: "Michroma",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cell{
  border: 6px solid white;
  border-right-color: gray;
  border-bottom-color: gray;
  background: lightgrey;
  line-height: 34px;
  height: 34px;
  text-align: center;
  width: 34px;
  cursor: pointer;
  color: #282c34;
}

.cell#revealed{
  border-color: gray;
  border-right-color: white;
  border-bottom-color: white;
  font-weight: bold;
  background-color: #c5c5c5;
}


